<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070644353880-b0bgl364tjf2p2d8irjm6pfnt0o7099e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070644353880-b0bgl364tjf2p2d8irjm6pfnt0o7099e</string>
	<key>API_KEY</key>
	<string>AIzaSyCkMgCP3k0OnaAUSPORF1VnyG0Bm0Ryiak</string>
	<key>GCM_SENDER_ID</key>
	<string>1070644353880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naaman-curtis.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-18edf</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-18edf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070644353880:ios:75f7dfc350a3e3a9</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-18edf.firebaseio.com</string>
</dict>
</plist>